h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

* {
    background-color: black;
    color: white;
}

#the-div {
    display: block;
    margin-left: 25%;
    width: 50%;
    /* align-items: center;
    align-content: center; */
}

img {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    width: 100%;
}

p {
    color: white;
}

.content {
    /* align-self: center;
    justify-self: center; */
    text-align: center;
}
